<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit information about user</title>
</head>
<body>
<h2>Edit personal information:</h2>

<form action="#" th:object="${user}" method="post" th:action="@{/editMe/{userId}(userId=${user.id})}" >
    <div>
        <div>
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" id="email" th:placeholder="${user.email}" readonly>
            <!--
             It can also be written like this:
            <input type="email" id="email2"  name="email" th:attr="placeholder=${user.email}" />
            -->
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" th:placeholder="${user.name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label for="age">Age</label>
            <input type="text" th:field="*{age}" id="age" th:placeholder="${user.age}">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" th:field="*{country}" id="country" required th:placeholder="${user.country}">
            <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
        </div>
        <div>
            <label for="male">Male</label>
            <input type="text" th:field="*{male}" id="male" th:placeholder="${user.male}">
            <span th:if="${#fields.hasErrors('male')}" th:errors="*{male}"></span>
        </div>
        <div>
            <label for="levelOfActivity">Level of activity</label>
            <input type="text" th:field="*{levelOfActivity}" id="levelOfActivity" th:placeholder="${user.levelOfActivity}" >
            <span th:if="${#fields.hasErrors('levelOfActivity')}" th:errors="*{levelOfActivity}"></span>
        </div>
        <div>
            <label for="weight">Weight</label>
            <input type="text" th:field="*{weight}" id="weight" th:placeholder="${user.weight}">
            <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
        </div>
        <div>
            <label for="height">Height</label>
            <input type="text" th:field="*{height}" id="height" th:placeholder="${user.height}">
            <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></span>
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Save">
        </div>
    </div>
</form>

<h2 th:text="*{message}"></h2>
<h2> <a href="/backToMainPage/{userId}" method = "post">Back</a></h2>
<!--(userId=${user.id})-->
</body>
</html>
