<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../css/design.css">
</head>
<body>
<h2 th:text="'Hello, ' + (${user.name}==null? 'Guest':(*{user.name}))"></h2>
<p>_____________________________________________________________________</p>

<h3><u>About me</u></h3>
<p class="btn"><a th:href="@{/editAboutMe/{email}(email=${user.email})}" >Edit</a></p>
<table>
    <tr>
        <th>Name</th>
        <th th:text="*{user.name}"></th>
    </tr>
    <tr>
        <th>Age</th>
        <th th:text="*{user.age}"></th>
    </tr>
    <tr>
        <th>Country</th>
        <th th:text="*{user.country}"></th>
    </tr>
    <tr>
        <th>Male</th>
        <th th:text="*{user.male}"></th>
    </tr>
    <tr>
        <th>Level of activity</th>
        <th th:text="*{user.levelOfActivity}"></th>
    </tr>
    <tr>
        <th>Weight</th>
        <th th:text="*{user.weight}"></th>
    </tr>
    <tr>
        <th>Height</th>
        <th th:text="*{user.height}"></th>
    </tr>
    <tr>
        <th>IMT</th>
        <th th:text="*{user.imt}"></th>
    </tr>
</table>
<p>_____________________________________________________________________</p>

<h3><u>My Routes</u></h3>

<div th:switch="${user.listOfRout}">
    <h2 th:case="null">No routes yet!</h2>
    <div th:case="*">
        <table width="800">
            <thead>
            <tr>
                <th>Date</th>
                <th>Start point</th>
                <th>End point</th>
                <th>Distance</th>
                <th>Kcal</th>
                <th>Saved fuel</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="route : ${user.listOfRout}">
                <td th:text="${route.date}"></td>
                <td th:text="${route.startPoint}"></td>
                <td th:text="${route.endPoint}"></td>
                <td th:text="${route.distance}"></td>
                <td th:text="${route.kcal}"></td>
                <td th:text="${route.savedFuel}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<p><a th:href="@{/addNewRoute/{email}(email=${user.email})}">Add new route</a></p>

<p>_____________________________________________________________________</p>

<h3><u>Statistics</u></h3>
<table>
    <tr>
        <th>Month</th>
        <th>**all months</th>
        <th></th>
    </tr>
    <tr>
        <th>Distance</th>
        <th th:text="*{allDistance}"></th>
        <th>km</th>
    </tr>
    <tr>
        <th>Kcal</th>
        <th th:text="*{kcal}"></th>
        <th>kcal</th>
    </tr>
    <tr>
        <th>Saved fuel</th>
        <th th:text="*{savedFuel}"></th>
        <th>litres</th>
    </tr>
</table>
<p>_____________________________________________________________________</p>
<h3><a th:href="@{/openSettings/{email}(email=${user.email})}">Settings</a></h3>

<h4><a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete my account</a></h4>

</body>
</html>